.main_container{
    -fx-background-color: #EEEEEE;

}
.main_container Label{
    -fx-fill: #000000;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.containers {
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #AAAAAA;
    -fx-effect: dropshadow(two-pass-box,#DDDDDD,5,0,0,6);
}

.Choice-box{
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color : #008080;
    -fx-text-fill: white;
    -fx-font-size: 9px;
    -fx-effect: dropshadow(two-pass-box,#DDDDDD,5,0,0,6);
}