.main_sat_container{
    -fx-background-color: #EEEEEE;
}

.main_sat_container Label{
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

.sate_container{
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #AAAAAA;
    -fx-effect: dropshadow(two-pass-box,#DDDDDD,5,0,0,6);
}

.rec_sate_container Text{
    -fx-fill: #000000;
    -fx-alignment: center;
}